.default-margin-bottom {
  margin-bottom: 0.7em;
}

.default-margin-right {
  margin-right: 1em;
}

.radio-button {
  margin-right: 0.2em;
}

.color-makoto {
  color: #4C484F;
}

.color-haruka {
  color: #E22B30;
}

.color-chihaya {
  color: #2743D2;
}

.color-yayoi {
  color: #F39939;
}

.color-iori {
  color: #FD99E1;
}

.color-amimami {
  color: #FFE43F;
}

.color-yukiho {
  color:#D3E5E5;
}

.color-takane {
  color: #A6126A;
}

.color-hibiki {
  color: #01ADB9;
}

.color-miki {
  color: #B4E04B;
}

.color-azusa {
  color: #9238BE;
}

.color-ritsuko {
  color: #01A860;
}

.flexbox-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.guide-text {
	font-size: 11px; 
	color: #808080;
	margin-bottom: 5px;
}

.page-content {
  padding: 15px;
}

.flexbox {
  display: flex;
}

.flexitem {
  flex: 1
}

.width-limiter {
  max-width: 600px;
}

.flex-stretch {
  flex-grow: 1;
}

.no-wrap {
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

.reset-white-space {
  white-space: normal !important;
}

.default-padding {
  padding: 10px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.vertical-resize-only {
  resize: vertical;
}

.default-padding-top {
  padding-top: 10px;
}

.preview-container {
	max-width: 100%;
}

.well-padding {
  padding: 15px;
}

.upload-guide-text {
  font-size: 0.85em;
}

.upload-guide-text-large {
  font-size: 1.1em;
}

.no-list-style {
  list-style: none;
}

.warning-text {
  color: #FF0F0F
}

.small-alert {
  width: 300px;
}