html, body, #app, .wrapper {
	height: 100%;
}

#app, .wrapper {
	overflow: auto;
}

h4 {
	margin-bottom: 0px;
}

div.radio {
	margin-top: 0px;
	margin-bottom: 12px;
}

nav.navbar.navbar-default {
	margin-bottom: 0px;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.radio-button {
	margin-right: 6px !important;
}

.radio-label {
	font-weight: normal !important;

	margin-right: 15px;
}

.flexbox-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.textbox-container {
	max-width: 600px;
}

.alert-container {
	max-width: 600px;
}

.well-container {
	max-width: 600px;
}

.preview-container {
	max-width: 100%;
}

.component-wrapper {
	margin-top: 7px
}

.guide-text {
	font-size: 11px; 
	color: #808080;
	margin-bottom: 5px;
}